body {
    margin: 0;
}

.ProductTitle {
    padding: 30px;
    font-size: 20px;
    justify-content: center;
}

.wrapper_Detail {
    display: grid;
    grid-template-columns: 650px 550px;
    justify-content: center;
    text-align: center;
    grid-template-rows: auto;
    gap: 20px;
}

.slider {
    width: 650px;
    max-width: 100vw;
    height: 400px;
    position: relative;
    margin-left: auto;
    overflow: hidden;
    border: 1px solid;
    border-radius: 15px;
    z-index: 3;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

    .list img {
        width: 650px;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
    }

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

    .buttons button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        color: #fff;
        border: none;
        font-family: monospace;
        font-weight: bold;
    }

.dots {
    position: absolute;
    bottom: 10px;
    color: black;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: 1s;
}

    .dots li {
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: black;
        margin: 20px;
        border-radius: 20px;
    }

        .dots li.active {
            width: 30px;
        }

.ProductWrapper {
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: 500px;
}

.ProductInfo {
    margin-top: 15px;
    padding: 10px;
    text-align: left;
    border: 1px solid;
    border-radius: 15px;
    width: 330px;
    height: fit-content;
}

    .ProductInfo ul {
        list-style: none;
    }


.SelectPhone .div {
    width: 60px;
    padding-left: 10px;
}

.phone-option {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    z-index: 3;
}

.row2 {
    margin-top: 70px;
    padding: 30px;
}

.selected {
    border: 1px solid red;
}

.citySelect option {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.CityLocation {
    margin-top: 50px;
    margin-left: 80px;
}

.price-buttons {
    display: flex;
}

.price-button {
    display: inline-block;
    border: 2px solid #000;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 15px;
    width: 80px;
    text-align: center;
}

.ColorTitle {
    margin-top: 20px;
}

.color-buttons {
    display: flex;
}

.color-button {
    border: 2px solid #ccc;
    border-color: #ccc;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

    .color-button.selected {
        border-color: red;
    }

.button-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.buy-now-button {
    background: linear-gradient(#f52f32, #e11b1e);
    border: none;
    border-radius: 10px;
    color: #fff;
    height: 60px;
    margin-right: 10px;
    outline: none;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.cart-button {
    background-color: transparent;
    border: 2px solid #e04040;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e04040;
    cursor: pointer;
}

.installment-button {
    background: linear-gradient(180deg, #3a78d0, #277cea);
    border: none;
    border-radius: 10px;
    color: #fff;
    height: 60px;
    outline: none;
    padding-bottom: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.installment-card-button {
    background: linear-gradient(180deg, #3a78d0, #277cea);
    border: none;
    border-radius: 10px;
    color: #fff;
    height: 60px;
    outline: none;
    padding-bottom: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.Box-promotion {
    margin-top: 20px;
}

.promo-container {
    background-color: #d1d5db;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.discount-container {
    box-shadow: 0 0 0 1px #d1d5db;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.discount-item {
    padding: 10px;
    border-bottom: 1px solid #d1d5db;
    font-size: 14px;
}

    .discount-item:last-child {
        border-bottom: none;
    }

.custom-checkbox {
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

    .custom-checkbox input[type="checkbox"] {
        display: none;
    }

    .custom-checkbox .checkmark {
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-right: 10px;
    }

        .custom-checkbox .checkmark::before {
            content: "\2713";
            font-size: 16px;
            color: transparent;
            position: absolute;
            top: 0;
            left: 0;
        }

    .custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
        color: red;
    }
